body {
    font-family: "open sans";
    flex-wrap: wrap;
    width: 100%;
}

header {
    background-color: #004175;
    color: white;
    padding: 2%;
    border-bottom-style: solid;
    border-bottom-color: #89DEEF;
    border-width: 5px
}

h1 {
    margin: 0%;
}

.adopt {
    margin-bottom: 0;
    margin-left: 5%
}

.dogs {
    display: inline-block;
    margin: 1em;
    margin-top: 0;


}

.dog-row {
    display: flex;
    /* width: 25%; */
    margin: 1em;
    margin-top: 0;

}

.dog-profile {
    width: 33%;
    padding: .5rem;
    padding-top: 0;
    flex-wrap: wrap;
}

.dog-picture {
    width: 100%
}

h3 {
    font-family: oswald;
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

li {
    display: inline-block;
    background-color: #89DEEF;
    border-radius: 20pt;
    padding: .2em;
    width: fit-content;
    margin: .1em;
    font-size: .5em;
}

footer {
    display: flex;
    font-family: oswald;
    text-align: center;
    text-justify: center;
    /* color: white width: 100%; */
    position: relative;
    /* height: 100vh; */
    align-items: center;
    /* justify-content: center; */
    /* background-color: #9ecbef; */
}

.footer-image {
    height: 10rem;
    flex-grow: 1;
    flex-basis: 0%;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    width: 100%;
    /* opacity: .5; */

}

.footer-image h4 {
    display: flex-box;
    flex: 1 1 auto;
    text-align: center;
    /* padding: auto; */
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    /* position: relative;
    /* justify-content: center; */
    /* align-items: center; */
    /* background: linear-gradient (#A6A9F0, #A6A9F0); */
}

#donate {
    background-image:
        linear-gradient(rgba(166, 169, 240, .65),
            rgba(166, 169, 240, .65)),
        url("starter_files/images/donate.jpg");
}

#volunteer {
    background-image:
        linear-gradient(rgba(166, 169, 240, .65),
            rgba(166, 169, 240, .65)),
        url("starter_files/images/volunteer.jpg");
}

#location {
    background-image:
        linear-gradient(rgba(166, 169, 240, .65),
            rgba(166, 169, 240, .65)),
        url("starter_files/images/location.png");


    /* .footer-image::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 250, 0, .25) */
}

/* #donate {
    height: 100vh;
    width: 100vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(starter_files/images/donate.jpg)
} */





/* h4 {
    color: white;
} */



/* .overlay {
        background: linear-gradient (#A6A9F0, #A6A9F0)
    } */


/* .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 5, 0) display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    } */

/* opacity: .5;
}

.footer-image {
    height: 10rem;
    flex-grow: 1;
    flex-basis: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .5;
}

.footer-image h4 {
    text-align: center;
    padding: auto;
    color: white;
    font-size: 1.5em;
    font-weight: normal;
}

h4 {
    color: white;
    background-color: #9ecbef;
    mix-blend-mode: multiply
}

#donate {
    background-image: url("starter_files/images/donate.jpg");
}

#volunteer {
    background-image: url("starter_files/images/volunteer.jpg");
}

#location {
    background-image: url("starter_files/images/location.png");